
@{
    Layout = null;
}

<div>

    
    @using System.Data.SqlClient;
    @using WebMatrix.Data;

    @*@using (Html.BeginForm(null, "SharedAnzeigen/Index"))*@
    @{
        //ToDo fehler abfangen wenn db-verbindung fehlschlägt (try catch?)
        var db = Database.Open("SQLServerConnectionString");

        //ToDo prüfen ob ViewBag.Title NULL
        var selectQueryString = "SELECT * FROM \"" + ViewBag.Title + "\"";

        foreach (var row in db.Query(selectQueryString))
        {
            Html.BeginForm(null, "SharedAnzeigen/Index", FormMethod.Post);
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="panel panel-default">
                        <div class="panel-heading"><b>@row.Title</b><br />@row.Addition</div>
                        <div class="panel-body">@row.Text</div>                        
                            @if (@row.Link != "" && @row.Link != null)
                            {
                                <div class="panel-body">
                                    
                                    <object data=@row.Link width="100%"></object>
                                    <a  class="btn btn-info" href=@row.Link>Öffnen</a>                                    
                                </div>
                            }
                        <div class="panel-footer form-control">@row.Time</div>
                        @Html.TextBox("sId", null, new { Value = row.Id, Class = "hidden" })
                        @*Titel des aufrufenden Views(z.B. Wohnheim/Index.cshtml) an den Controller(SharedAnzeigenController) weitergeben:*@
                        @Html.TextBox("callingView", null, new { Value = ViewBag.Title, Class = "hidden" })
                        @if (Request.IsAuthenticated && (HttpContext.Current.User.Identity.Name == ViewBag.Title || HttpContext.Current.User.Identity.Name == "Root"))
                        {                           
                                <input type="submit" value="Löschen" class="btn btn-danger" />                           
                        }
                    </div>                
                </div>
                <div class="col-sm-2"></div>
            </div>
            Html.EndForm();
            
        }
        db.Close();          


    }




            </div>
