
@{    
    ViewBag.Title = "Physiotherapie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using WebMatrix.Data

<br />
<div class="container-fluid">
    <div class="col-md-12" id="caption">
        <p class="pull-left">Physiotherapie</p>
    </div>
</div>
<br />

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="panel panel-default">
            @{
                //ToDo fehler abfangen wenn db-verbindung fehlschlägt (try catch?)
                var db = Database.Open("SQLServerConnectionString");

                var selectQueryString = "SELECT * FROM Zeiten WHERE Name = '" + ViewBag.Title + "'";

                IEnumerable<dynamic> dbItems = db.Query(selectQueryString);
            }
            @if (dbItems.Count() != 0)
            {
                <h3>Öffnungszeiten</h3>
                int today = (int)DateTime.Today.DayOfWeek;
                foreach (var item in dbItems)
                {
                    <table class="table table-sm table-responsive table-striped">
                        @if (item.Titel != "")
                        {
                            <thead>
                                <tr>
                                    <td colspan="3">
                                        <h4>@item.Titel</h4>
                                    </td>
                                </tr>
                            </thead>
                        }
                        @if (!(item.MontagFr == "" && item.MontagSp == ""))
                        {
                            <tr @if (today == 1)
                            {<text>class="warning"</text>}>
                                <th>Montag</th>
                                <td>@item.MontagFr</td>
                                <td>
                                    @if (@item.MontagFr != "" && @item.MontagSp != "")
                                    {<text>&nbsp;und&nbsp;</text>}
                                </td>
                                <td>@item.MontagSp</td>
                            </tr>
                        }
                        @if (!(item.DienstagFr == "" && item.DienstagSp == ""))
                        {
                            <tr @if (today == 2)
                            {<text>class="warning"</text>}>
                                <th>Dienstag</th>
                                <td>@item.DienstagFr</td>
                                <td>
                                    @if (@item.DienstagFr != "" && @item.DienstagSp != "")
                                    {<text>&nbsp;und&nbsp;</text>}
                                </td>
                                <td>@item.DienstagSp</td>
                            </tr>
                        }
                        @if (!(item.MittwochFr == "" && item.MittwochSp == ""))
                        {
                            <tr @if (today == 3)
                            {<text>class="warning"</text>}>
                                <th>Mittwoch</th>
                                <td>@item.MittwochFr</td>
                                <td>
                                    @if (@item.MittwochFr != "" && @item.MittwochSp != "")
                                    {<text>&nbsp;und&nbsp;</text>}
                                </td>
                                <td>@item.MittwochSp</td>
                            </tr>
                        }
                        @if (!(item.DonnerstagFr == "" && item.DonnerstagSp == ""))
                        {
                            <tr @if (today == 4)
                            {<text>class="warning"</text>}>
                                <th>Donnerstag</th>
                                <td>@item.DonnerstagFr</td>
                                <td>
                                    @if (@item.DonnerstagFr != "" && @item.DonnerstagSp != "")
                                    {<text>&nbsp;und&nbsp;</text>}
                                </td>
                                <td>@item.DonnerstagSp</td>
                            </tr>
                        }
                        @if (!(item.FreitagFr == "" && item.FreitagSp == ""))
                        {
                            <tr @if (today == 5)
                            {<text>class="warning"</text>}>
                                <th>Freitag</th>
                                <td>@item.FreitagFr</td>
                                <td>
                                    @if (@item.FreitagFr != "" && @item.FreitagSp != "")
                                    {<text>&nbsp;und&nbsp;</text>}
                                </td>
                                <td>@item.FreitagSp</td>
                            </tr>
                        }
                        @if (!(item.SamstagFr == "" && item.SamstagSp == ""))
                        {
                            <tr @if (today == 6)
                            {<text>class="warning"</text>}>
                                <th>Samstag</th>
                                <td>@item.SamstagFr</td>
                                <td>
                                    @if (@item.SamstagFr != "" && @item.SamstagSp != "")
                                    {<text>&nbsp;und&nbsp;</text>}
                                </td>
                                <td>@item.SamstagSp</td>
                            </tr>
                        }
                        @if (!(item.SonntagFr == "" && item.SonntagSp == ""))
                        {
                            <tr @if (today == 0)
                            {<text>class="warning"</text>}>
                                <th>Sonntag</th>
                                <td>@item.SonntagFr</td>
                                <td>
                                    @if (@item.SonntagFr != "" && @item.SonntagSp != "")
                                    {<text>&nbsp;und&nbsp;</text>}
                                </td>
                                <td>@item.SonntagSp</td>
                            </tr>
                        }
                    </table>
                }
            }
            @if (Request.IsAuthenticated && (HttpContext.Current.User.Identity.Name == ViewBag.Title || HttpContext.Current.User.Identity.Name == "Root"))
            {
                if (dbItems.Count() != 0)
                {
                    foreach (var item in dbItems)
                    {
                        string ti = (item.Titel != "") ? item.Titel : "";
                        string mov = (item.MontagFr != "") ? item.MontagFr : "";
                        string mon = (item.MontagSp != "") ? item.MontagSp : "";
                        string div = (item.DienstagFr != "") ? item.DienstagFr : "";
                        string din = (item.DienstagSp != "") ? item.DienstagSp : "";
                        string miv = (item.MittwochFr != "") ? item.MittwochFr : "";
                        string min = (item.MittwochSp != "") ? item.MittwochSp : "";
                        string dov = (item.DonnerstagFr != "") ? item.DonnerstagFr : "";
                        string don = (item.DonnerstagSp != "") ? item.DonnerstagSp : "";
                        string frv = (item.FreitagFr != "") ? item.FreitagFr : "";
                        string frn = (item.FreitagSp != "") ? item.FreitagSp : "";
                        string sav = (item.SamstagFr != "") ? item.SamstagFr : "";
                        string san = (item.SamstagSp != "") ? item.SamstagSp : "";
                        string sov = (item.SonntagFr != "") ? item.SonntagFr : "";
                        string son = (item.SonntagSp != "") ? item.SonntagSp : "";


                        using (Html.BeginForm(null, "SharedBearbeiten/InsertTime", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <fieldset>
                                <legend>Öffnungszeiten bearbeiten</legend>
                                <div class="row">
                                    <div class="col-sm-4">
                                        @*<label for="name">Name</label>*@
                                        @*@Html.TextBox("Name", null, new { @id = "name", @class = "input required", @required = "required" })*@
                                        @Html.TextBox("Name", "Physiotherapie", new { @id = "name", @class = "input required hidden", @required = "required" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="titel">Titel</label>
                                        @Html.TextBox("Titel", ti, new { @id = "titel", @class = "input form-control", @placeholder = "Titel", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label for="u1">Montag Vormittag</label>                                        
                                        @Html.TextBox("U1", mov , new { @id = "u1", @class = "input form-control", @placeholder = "z. B. 9:00 - 12:00", @maxlength = 25 })
                                        
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="u2">Montag Nachmittag</label>
                                        @Html.TextBox("U2", mon, new { @id = "u2", @class = "input form-control", @placeholder = "z. B. 13:00 - 16:00", @maxlength = 25 })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label for="u1">Dienstag Vormittag</label>
                                        @Html.TextBox("U3", div, new { @id = "u3", @class = "input form-control", @placeholder = "von - bis", @maxlength = 25 })
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="u2">Dienstag Nachmittag</label>
                                        @Html.TextBox("U4", din, new { @id = "u4", @class = "input form-control", @placeholder = "von - bis", @maxlength = 25 })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label for="u1">Mittwoch Vormittag</label>
                                        @Html.TextBox("U5", miv, new { @id = "u5", @class = "input form-control", @placeholder = "von - bis", @maxlength = 25 })
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="u2">Mittwoch Nachmittag</label>
                                        @Html.TextBox("U6", min, new { @id = "u6", @class = "input form-control", @placeholder = "von - bis", @maxlength = 25 })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label for="u1">Donnerstag Vormittag</label>
                                        @Html.TextBox("U7", dov, new { @id = "u7", @class = "input form-control", @placeholder = "von - bis", @maxlength = 25 })
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="u2">Donnerstag Nachmittag</label>
                                        @Html.TextBox("U8", don, new { @id = "u8", @class = "input form-control", @placeholder = "von - bis", @maxlength = 25 })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label for="u1">Freitag Vormittag</label>
                                        @Html.TextBox("U9", frv, new { @id = "u9", @class = "input form-control", @placeholder = "von - bis", @maxlength = 25 })
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="u2">Freitag Nachmittag</label>
                                        @Html.TextBox("U10", frn, new { @id = "u10", @class = "input form-control", @placeholder = "von - bis", @maxlength = 25 })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label for="u1">Samstag Vormittag</label>
                                        @Html.TextBox("U11", sav, new { @id = "u11", @class = "input form-control", @placeholder = "von - bis", @maxlength = 25 })
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="u2">Samstag Nachmittag</label>
                                        @Html.TextBox("U12", san, new { @id = "u12", @class = "input form-control", @placeholder = "von - bis", @maxlength = 25 })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label for="u1">Sonntag Vormittag</label>
                                        @Html.TextBox("U13", sov, new { @id = "u13", @class = "input form-control", @placeholder = "von - bis", @maxlength = 25 })
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="u2">Sonntag Nachmittag</label>
                                        @Html.TextBox("U14", son, new { @id = "u14", @class = "input form-control", @placeholder = "von - bis", @maxlength = 25 })
                                    </div>
                                </div>
                                @*Titel des aufrufenden Views(z.B. Wohnheim/Index.cshtml) an den Controller(SharedAnzeigenController) weitergeben:*@
                                @Html.TextBox("callingView", null, new { Value = ViewBag.Title, Class = "hidden" })
                                <input type="submit" value="Aktualisieren" class="btn btn-success" />
                            </fieldset>
                        }
                    }
                }
            }
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>


@Html.Partial("~/Views/SharedAnzeigen/Index.cshtml")

@if (Request.IsAuthenticated && (HttpContext.Current.User.Identity.Name == ViewBag.Title || HttpContext.Current.User.Identity.Name == "Root"))
{
    <div class="panel panel-default">
        <div class="panel-body" id="InhaltBearbeiten">
            @Html.Partial("~/Views/SharedBearbeiten/Index.cshtml")
        </div>
    </div>
}
<p>&nbsp;</p>
<p>&nbsp;</p>
