
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container-fluid">
    <div class="col-md-12" id="caption">
        <p class="pull-left">Telefonbuch</p><p class="pull-right">zum Suchen <button type="button" class="btn btn-info btn-xs" disabled>Strg</button> + <button type="button" class="btn btn-info btn-xs" disabled>F</button> drücken</p>
    </div>
</div>
<br />


<body>
   <div class="phonebook">
    <!--<iframe height="900" width="1220" src="http://192.168.130.215/~telefonbuch/">
        < href="http://192.168.130.215/~telefonbuch/">Telefonbuch</>
    </iframe>-->

    <table class="table table-sm table-responsive table-striped">
        @{AIS_FI15.Models.TelefonbuchModel m = new AIS_FI15.Models.TelefonbuchModel();}
         
        @{string[][] table = m.parsePhonebook(); }
        @if (table != null)
        {
            <p style="font-size:larger; font-weight: bold;">Telefonverzeichnis BBW</p>
            <thead>
                <tr>
                    @for (int j = 0; j < table[0].Length; j++)
                    {
                        <th>@table[0][j]</th>
                    }
                </tr>
            </thead>
            for (int i = 1; i < table.Length - 1; i++)
            {
                <tr>
                    @for (int j = 0; j < table[i].Length; j++)
                    {
                        <td>@table[i][j]</td>
                    }
                </tr>
            }
        }
        else
        {
            <thead>
               Es ist ein Fehler beim Verbinden zum Telefonbuch aufgetreten! <br />
                <a href="@Url.Action("Index", "Telefonbuch")" class="btn btn-success" role="button">erneut versuchen</a>
            </thead>
        }
    </table>
       
       <table class="table table-sm table-responsive table-striped">
           @{AIS_FI15.Models.TelefonbuchModel mA = new AIS_FI15.Models.TelefonbuchModel();}

           @{string[][] tableA = mA.parseAdditionalPhonebook(); }
           @if (tableA != null)
           {
               <p style="font-size:larger; font-weight: bold;">Partnerfirmen</p>
               <thead>
                   <tr>
                       @for (int j = 0; j < tableA[0].Length; j++)
                       {
                           <th>@tableA[0][j]</th>
                       }
                   </tr>
               </thead>
               for (int i = 1; i < tableA.Length - 1; i++)
               {
                   <tr>
                       @for (int j = 0; j < tableA[i].Length; j++)
                    {
                           <td>@tableA[i][j]</td>
                       }
                   </tr>
               }
           }
           else
           {              
           }
       </table>
    </div>
    <p>.</p>
    <p>.</p>
</body>