
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using WebMatrix.Data

<h2>Öffnungszeiten</h2>

@{
    Database db = Database.Open("SQLServerConnectionString");

    string selectQueryString = "SELECT * FROM Zeiten ORDER BY Name ASC";

    IEnumerable<dynamic> dbItems = db.Query(selectQueryString);
    int today = (int)DateTime.Today.DayOfWeek;
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        @foreach (var item in dbItems)
        {
        <table class="table table-sm table-responsive table-striped">
            <thead>
                <tr>
                    <td colspan="3">
                        <h4>@switch ((string)item.Name)
                        {
                            case "aerztlicherDienst":
                                <text>Ärztlicher Dienst</text>
                                break;
                            case "psychologischerDienst":
                                <text>Psychologischer Dienst</text>
                                break;
                            default:
                                @item.Name
                                break;
                        }
                        @if (item.Titel != null) {
                            <text>&nbsp;-&nbsp;</text>
                            @item.Titel
                        }
                        </h4>
                    </td>
                </tr>
            </thead>
            @if (!(item.MontagFr == "" && item.MontagSp == ""))
            {
                <tr @if (today == 1)
                            {<text>class="warning"</text>}>
                    <th>Montag</th>
                    <td>@item.MontagFr</td>
                    <td> @if (item.MontagFr != "" && item.MontagSp != "")
                    { <b>&nbsp;und&nbsp;</b> } </td>
                    <td>@item.MontagSp</td>
                </tr>
            }
                                    @if (!(item.DienstagFr == "" && item.DienstagSp == ""))
            {
                <tr @if (today == 2)
                            {<text>class="warning"</text>}>
                    <th>Dienstag</th>
                    <td>@item.DienstagFr</td>
                    <td> @if (item.DienstagFr != "" && item.DienstagSp != "")
                    { <b>&nbsp;und&nbsp;</b> } </td>
                    <td>@item.DienstagSp</td>
                </tr>
            }
                                    @if (!(item.MittwochFr == "" && item.MittwochSp == ""))
            {
                <tr @if (today == 3)
                            {<text>class="warning"</text>}>
                    <th>Mittwoch</th>
                    <td>@item.MittwochFr</td>
                    <td> @if (item.MittwochFr != "" && item.MittwochSp != "")
                    { <b>&nbsp;und&nbsp;</b> } </td>
                    <td>@item.MittwochSp</td>
                </tr>
            }
                                    @if (!(item.DonnerstagFr == "" && item.DonnerstagSp == ""))
            {
                <tr @if (today == 4)
                            {<text>class="warning"</text>}>
                    <th>Donnerstag</th>
                    <td>@item.DonnerstagFr</td>
                    <td> @if (item.DonnerstagFr != "" && item.DonnerstagSp != "")
                    { <b>&nbsp;und&nbsp;</b> } </td>
                    <td>@item.DonnerstagSp</td>
                </tr>
            }
                                    @if (!(item.FreitagFr == "" && item.FreitagSp == ""))
            {
                <tr @if (today == 5)
                            {<text>class="warning"</text>}>
                    <th>Freitag</th>
                    <td>@item.FreitagFr</td>
                    <td> @if (item.FreitagFr != "" && item.FreitagSp != "")
                    { <b>&nbsp;und&nbsp;</b> } </td>
                    <td>@item.FreitagSp</td>
                </tr>
            }
                                    @if (!(item.SamstagFr == "" && item.SamstagSp == ""))
            {
                <tr @if (today == 6)
                            {<text>class="warning"</text>}>
                    <th>Samstag</th>
                    <td>@item.SamstagFr</td>
                    <td> @if (item.SamstagFr != "" && item.SamstagSp != "")
                    { <b>&nbsp;und&nbsp;</b> } </td>
                    <td>@item.SamstagSp</td>
                </tr>
            }
                                    @if (!(item.SonntagFr == "" && item.SonntagSp == ""))
            {
                <tr @if (today == 0)
                            {<text>class="warning"</text>}>
                    <th>Sonntag</th>
                    <td>@item.SonntagFr</td>
                    <td> @if (item.SonntagFr != "" && item.SonntagSp != "")
                    { <b>&nbsp;und&nbsp;</b> } </td>
                    <td>@item.SonntagSp</td>
                </tr>
            }
        </table>
        }
    </div>
    <div class="col-sm-2"></div>
}